fastapi==0.110.0
pandas==2.1.1
psycopg2==2.9.9
pyarrow==15.0.0
pydantic==2.6.3
pydantic-extra-types==2.6.0
pydantic-settings==2.2.1
pydantic_core==2.16.3
requests==2.31.0
urllib3==1.26.18
uvicorn==0.28.0